*{
    margin: 0;
    border:0;
    background-color: lightblue;
}
.table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: gray;
}
table,td,th,tr{
    border: 1px solid black;
    padding: 8px;
    border-collapse: collapse;
}
.th{
    background-color: white;
}