body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:cornflowerblue;    
}
#login{
    margin-left:400px;
    margin-top: 100px;
    background:#fff ;
    width:400px;
    height:400px;

  
} 
    #login1{
        padding: 8px;
        width:350px;
        margin-left: 10px;
    }   
    #login2{
        padding: 8px;
        width:350px;
        margin-left: 10px;
    }   
    #login3{
        padding: 8px;
        width: 40px;
        margin-left: 120px;
        width:150px;
        background-color: green;
        color: #fff;
        
    }   

