<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BUY & SELL A BIKE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css" integrity="sha256-ymMA1/kGhlQxXn0q9DFzHRt3VIY1Eh7BJcEfM3I88a4=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.min.css" integrity="sha256-s6pvTzrJkzDdmT05Lr0cJZo1Wig9m5AC8Il63ucl31U=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <link rel="stylesheet" href="../style/theme-style.css">

</head>
<body>
<nav class="navbar navbar-expand-md fixed-top" id="banner">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><span>INDIA’s #1 motorcycle Dealership</span></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler p-1" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon">
          <i class="text-white material-icons">
            menu
          </i>
        </span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            BUY
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">BUY a new bike </a>
            <a class="dropdown-item" href="#">SELL a new bike</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <!-- Dropdown -->
      </ul>
    </div>
  </div>
</nav>

<div class="banner hv-100">
  <div class="container">
    <div class="row hv-100">
      <div class="col-md-6 hv-100 d-flex align-items-center">
        <div class="owl-carousel">
          <div data-aos="fade-up" class="banner-text">
            <div class="banner-heading">
              Buying And Selling made easy.
            </div>
            <div class="text-intro">
              Find the right bike for you
            </div>
            
            <button type="button" class="btn btn-primary mr-3 mb-2">BUY now</button>
            <button type="button" class="btn btn-primary">Sell now</button>
            
          </div>
          <div class="banner-text">
          <div class="banner-heading
            Buying and selling made easy.
          </div>
          <div class="text-intro">
            Find the right bike for you
          </div>
          <button type="button" class="btn btn-primary mr-3 mb-2">Buy now</button>
          <button type="button" class="btn btn-primary">Sell now</button>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner-poster">
          <img src="../images/banner-bike.png" alt="banner-bike">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <div class="row">
          <div class="col-md-6">
            <div data-aos="fade-up" class="intro-card bg-primary">
              <img src="../images/bike-icon.png" alt="">
              <div class="intro-card-title">
                Buy Used Motorcyles
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div data-aos="fade-up" class="intro-card bg-secondary">
              <img src="../images/11.png" alt="">
              <div class="intro-card-title mb-3">
                Buy Used Motorcyles
              </div>
              <p class="intro-card-text mb-5">
                More than 2500 scooters in stock in affordable prices
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6 mt-5 mt-lg-0">
        <div data-aos="fade-up">
          <h2 class="section-title text-center text-sm-center text-md-center text-lg-left">Who We Are</h2>
          <p class="mb-5">Scooter Mart is Bermuda's #1 Motorcycle and Scooter Dealership,
            offering the largest selection of New and Used bikes on the island.
            Scooter Mart also buys and sells used bikes, making the sales process easy,
            safe and reliable for you. All of our used bikes for sale have been through a
            rigorous safety and reliability inspection by our experienced mechanics,
            ensuring that you get the right bike for you, at a great price.</p>
            <div class=" text-center text-sm-center text-md-center text-lg-left">
                <button type="button" class="btn btn-secondary">Reading more</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div data-aos="fade-up" class="text-center mb-5">
          <h2 class="section-title">Some from Stock</h2>
          <p>Some of our best scooter from stock, Available now.</p>
        </div>
      </div>
    </div>
    <div class="stock-grid">
      <div class="row">
        <div data-aos="fade-up" class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="stock-grid-card sweep-to-top bg-white">
            <div class="d-flex justify-content-end mb-5">
              <p class="card-update">New</p>
            </div>
            <img src="../images/bike-card.png" alt="bike-card" >
            <p class="item-name">YamahassZ 150cc</p>
            <p class="item-price">
              <span class="discount">$50,00</span>
              <span class="actual-price">$45,00</span>
            </p>
          </div>
        </div>
        <div data-aos="fade-up" class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="stock-grid-card sweep-to-top bg-white">
            <div class="d-flex justify-content-end mb-5">
              <p class="card-update">New</p>
            </div>
            <img src="../images/bike-card.png" alt="bike-card" >
            <p class="item-name">YamahassZ 150cc</p>
            <p class="item-price">
              <span class="discount">$50,00</span>
              <span class="actual-price">$45,00</span>
            </p>
          </div>
        </div>
        <div data-aos="fade-up" class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="stock-grid-card sweep-to-top bg-white">
            <div class="d-flex justify-content-end mb-5">
              <p class="card-update">New</p>
            </div>
            <img src="../images/bike-card.png" alt="bike-card" >
            <p class="item-name">YamahassZ 150cc</p>
            <p class="item-price">
              <span class="discount">$50,00</span>
              <span class="actual-price">$45,00</span>
            </p>
          </div>
        </div>
        <div data-aos="fade-up" class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="stock-grid-card sweep-to-top bg-white">
            <div class="d-flex justify-content-end mb-5">
              <p class="card-update">New</p>
            </div>
            <img src="../images/bike-card.png" alt="bike-card" >
            <p class="item-name">YamahassZ 150cc</p>
            <p class="item-price">
              <span class="discount">$50,00</span>
              <span class="actual-price">$45,00</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div data-aos="fade-up" class="col-12 mt-4 mb-4 text-center">
        <button type="button" class="btn btn-secondary">Reading more</button>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div data-aos="fade-up" class="text-center mb-5">
          <h2 class="section-title">Accessories</h2>
          <p>We are certified dealers of the worlds most trusted brands.</p>
        </div>
      </div>
    </div>
    <div class="stock-grid">
      <div class="row">
        <div  data-aos="fade-up" class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="stock-grid-card sweep-to-top bg-gray">
            <div class="d-flex justify-content-end mb-5">
              <p class="card-update">New</p>
            </div>
            <img src="../images/helmate.png" alt="bike-card" >
            <p class="item-name">Yamaha FZ 150cc</p>
            <p class="item-price">
              <span class="discount">$50,00</span>
              <span class="actual-price">$45,00</span>
            </p>
          </div>
        </div>
        <div  data-aos="fade-up" class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="stock-grid-card sweep-to-top bg-gray">
            <div class="d-flex justify-content-end mb-5">
              <p class="card-update">New</p>
            </div>
            <img src="../images/helmate.png" alt="bike-card" >
            <p class="item-name">Yamaha FZ 150cc</p>
            <p class="item-price">
              <span class="discount">$50,00</span>
              <span class="actual-price">$45,00</span>
            </p>
          </div>
        </div>
        <div  data-aos="fade-up" class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="stock-grid-card sweep-to-top bg-gray">
            <div class="d-flex justify-content-end mb-5">
              <p class="card-update">New</p>
            </div>
            <img src="../images/helmate.png" alt="bike-card" >
            <p class="item-name">Yamaha FZ 150cc</p>
            <p class="item-price">
              <span class="discount">$50,00</span>
              <span class="actual-price">$45,00</span>
            </p>
          </div>
        </div>
        <div  data-aos="fade-up" class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="stock-grid-card sweep-to-top bg-gray">
            <div class="d-flex justify-content-end mb-5">
              <p class="card-update">New</p>
            </div>
            <img src="../images/helmate.png" alt="bike-card" >
            <p class="item-name">Yamaha FZ 150cc</p>
            <p class="item-price">
              <span class="discount">$50,00</span>
              <span class="actual-price">$45,00</span>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div data-aos="fade-up" class="col-12 mt-4 mb-4 text-center">
          <button type="button" class="btn btn-secondary">Reading more</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div data-aos="fade-up" class="text-center mb-5">
          <h2 class="section-title">Get in Touch</h2>
          <p>Feel free to contact us or visit us.</p>
        </div>
      </div>
    </div>
    <div class="footer-section">
      <div class="row">
        <div class="col-md-4">
          <div class="content-widget">
            <h3>Come visit us!</h3>
            <ul>
              <li>
                Monday - Friday from 9am - 7pm Saturdays 9am - 4pm!
              </li>
              <li>
                #2 Lover's Lane Paget, Bermuda PG 09
              </li>
              <li>
                <a href="mailto:info@scootermart.bm">info@scootermart.bm</a>
              </li>
              <li>
                <p class="mb-2">
                  (441) 232-2453
                </p>
                <p>
                  (441) 705-6563
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-widget">
            <div class="footer-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d54442.05929553672!2d74.2998016!3d31.479398399999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1578636155862!5m2!1sen!2s" width="100%" height="280px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Full Name">
              <i class="material-icons">
                person
              </i>
            </div>
            <div class="form-group">
              <!--              <label for="email">Email address</label> field with label-->
              <input type="email" class="form-control" placeholder="Your Email">
              <i class="material-icons">
                email
              </i>
            </div>
            <div class="form-group">
              <textarea cols="30" rows="5" class="form-control" placeholder="Write Someting..."></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-form">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<a class="trigger_popup_fricc">Click here to show the popup</a>

<div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">&times;</div>
        <p>Add any HTML content<br />inside the popup box!</p>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js" integrity="sha256-Y8l+EeoUOvr8SqEj/gTyjBb8CqhtrA6GU9P4yB+41cE=" crossorigin="anonymous"></script><script src="https://unpkg.com/aos@next/dist/aos.js"></script>


<script src="../javascript/javascript.js"></script>
</body>
</html>
